.leaflet-contextmenu {
	display: none;
	box-shadow: 0 1px 7px rgba(0,0,0,0.4);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 6px 0;
	background-color: #4E5F7B;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item {
	display: block;
	color: white;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	padding: 0 12px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	cursor: default;
	outline: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
	opacity: 0.5;
}

.leaflet-contextmenu a.leaflet-contextmenu-item.over {
	background-color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	color: #4E5F7B;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled.over {
	background-color: inherit;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.leaflet-contextmenu-icon {
	margin: 2px 8px 0 0;
	width: 16px;
	height: 16px;
	float: left;
	border: 0;
}

.leaflet-contextmenu-separator {
	border-bottom: 1px solid #ccc;
	margin: 5px 0;
}
